body {
  background-color: antiquewhite;
}
nav {
  background-color: white;
  text-align: center;
}
nav * {
  margin: 0px 5px;
}
nav > p {
  font-size: 25px;
  color: black;
}
nav > a {
  color: rgb(120, 120, 120);
}
.inline {
  display: inline-block;
  margin: 0px;
}